[paths]
source =
   thelper
   */site-packages/thelper

[run]
branch = true
source =
    thelper
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
