# Docker
[Dd]ocker
[Dd]ockerfile
.dockerignore

# Git
.git
.github
.gitignore

# Travis
.travis.yml

# installer
#Makefile
[Mm]akefile.config
downloads

# Environments
env
.ve
.env
venv*/
pyvenv*/
.mr.developer.cfg
.project
.pydevproject
.conda-env*

# Python / Extensions etc.
*~
.*.sw[po]
.build
.cache
*.mo
*.so
*.py[cod]
*.bak
*.sqlite
*.egg[s]
*.egg-info
*egg[s]__pycache__
dist
build
downloads
eggs
.eggs
parts
bin
var
sdist
wheelhouse
develop-eggs

# installation
[Bb]in
.installed.cfg
lib
lib64
/data/
/src

# Unit test / Coverage reports
.cache
.coverage
coverage
coverage.*
.coverage.*
.pytest
.pytest_cache
.pytest_cache/
.tox
nosetests.xml
unit_tests/testdata.json
**/*.log
**/*.lock
testdata.json
htmlcov
reports
tests

# R
*.Rhistory

# Eclipse / PyDev
.project
.pydevproject
.settings

# vscode
.vscode

# PyCharm
*.idea

# Intellij
*.iml

# Kate
*.kate-swp

# Sublime Text Editor
*.sublime*

# other
*.komodoproject

# sphinx
docs
docs/_build

# External Sources
src

# IPython
.ipynb_checkpoints

# gcc/fortran
**/*.o
**/*.a
**/*.mod
**/*.out

workflows
**/*.tif
**/*.zip

# project outputs
*.bak
pip-log.txt
*.log
output/**
output/*.html
output/*/index.html
.DS_Store
.bootstrap
.appveyor.token
