# Installer
#Makefile
[Mm]akefile.config
downloads

# Docker
#Dockerfile

# Python / Extensions etc.
*~
*.mo
*.so
*.py[cod]
*.bak
*.sqlite
*.egg
*.egg[s]
*.egg-info
*egg[s]
.installed.cfg
.build
.bootstrap
.matplotlib
__pycache__
[Bb]in
build
dist
develop-eggs
parts
sdist
var
wheelhouse
pip-log.txt
docs/_build

# Unit test / Coverage reports
*.log
*.lock
.cache
.coverage
.pytest
.pytest_cache
.pytest_cache/
.tox
.coverage.*
coverage.xml
coverage
htmlcov
output/*.html
output/*/index.html
reports
nosetests.xml
unit_tests/testdata.json
result[s].xml
testdata.json

# Environment
env/
venv*/
pyvenv*/
.ve
.env

# vscode
.vscode

# R
*.Rhistory

# Eclipse / PyDev
.project
.pydevproject
.settings
.mr.developer.cfg

# PyCharm
*.idea
.idea

# Intellij
*.iml

# Kate
*.kate-swp

# Sublime Text Editor
*.sublime*

# External Sources
src
lib
lib64

# IPython
.ipynb_checkpoints

# gcc/fortran
*.o
*.a
*.mod
*.out

# snappy
esa-snap_sentinel_unix_6_0.sh
response.varfile

# conda
environment.yml

# environment
env
venv

# orion
/sessions

# project sources
demo
projects
# ignore both root data dir and root data symlink
# but not lower level data dirs (ie: thelper.data)
/data
*.tif
*.zip
./workflow[s]
*.komodoproject
.*.sw[po]
.DS_Store
.appveyor.token
00-LOGS

