graft docs
graft thelper
graft ci
graft tests
graft configs

include .bumpversion.cfg
include .coveragerc
include .dockerignore
include .editorconfig
include readthedocs.yml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include INSTALL.rst
include README.rst

include LICENSE
include Makefile
include Dockerfile
include requirements.txt
include requirements-dev.txt

include tox.ini
include conda-env.yml
include .travis.yml
include appveyor.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
