graft docs
graft src
graft ci
graft tests
graft configs

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include INSTALL.rst
include README.rst

include LICENSE
include Makefile
include requirements.txt
include thelper_usage.txt

include tox.ini
include conda-env.yml
include .travis.yml
include appveyor.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
