torch
torchvision
matplotlib
cython
opencv-python
# tensorflow required for tensorboard only
tensorflow
# numpy version requirement set by tensorflow
numpy<=1.14.5
pynput
scipy
scikit-learn
augmentor
tensorboardX==1.2
gitpython
pip
six
