gitpython
h5py
kornia
lz4
matplotlib
numpy
opencv-python
orion
# PILLOW_VERSION removed which causes import to fail with torchvision
pillow<7
pyyaml
scikit-learn
six
tensorboardX
torch
# requirements at least needed for segmentation tasks
torchvision>=0.6
tqdm
