gitpython
h5py
hdf5plugin
kornia
lz4
matplotlib
numpy
opencv-python
orion
pillow>=7.1
pyyaml
scikit-learn
six
tensorboardX
torch
# requirements at least needed for segmentation tasks
torchvision>=0.6
tqdm
